/*============
  Main
 =============
*/

.container-fluid{
	width: inherit;
}
	

.container{
	width: 80%;
	margin: 50px 250px 0 200px;
	height: 100%;
}

.container h1{
	margin: auto;
}


.stock_entry{
	width: 80%;
}

.ticker{
	color: blue;
}

ul, li{
	list-style-type: none;
}


h1{
	position: relative;
	left: 10;
}

img{
	left: 700px;
	top: 125px;
	position: fixed;
	width: 450px;
}

