
.portfolio-info{
	color: green;
	position:relative;
	top: 200px;

}

.portfolio-graph{
	width: 500px;
	height: 500px;
}


.portfolio{
	display: inline-block;
}

.portfolio h4{
	margin-bottom: 30px;
}
