html,body {
  height:100%;
}

@import url(https://fonts.googleapis.com/css?family=Lora);
body {
  background-color:#fff;
  font-seize:1em;
  font-family: 'Lora', serif;
}
section {width:100%; padding:2% 0px;}
a, a:hover {text-decoration:none;}
.item {margin:0px auto;}


.lead {
	color:#DDCCEE;
}


/* Custom container */
.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#110022;
  color:#eee;
  overflow:hidden;
}

.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
  
