<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/home.css">
		
	</head>
	
	<body>
		
		<div class="col-md-2">
		</div>
		<div class="col-md-8">
			<div class="container">
				<h1>Entries</h1>
				<ul class="entries">
				{% block body %}
				{% for entry in entries %}
					<li><h3>{{entry.ticker}}</h3>
					{{ entry.company|safe}}
				{% endfor %}
				{% endblock %}
				</ul>
			</div>
		</div>
		<div class = "col-md-8 footer">
		</div>
		<div class="col-md-2">
		</div>
	</body>

</html>

