<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">

		<!-- jQuery library -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

		<!-- Latest compiled JavaScript -->
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="../static/css/styles.css">
		<link rel="stylesheet" type="text/css" href="../static/css/stock.css">
		
	</head>

	{% block body %}	
	<body>	
		<div class="col-md-2">
			{% include '_nav.html' %}	
		</div>
		<div class="col-md-8">
			<div class="container-fluid">
				<h1>{{ticker}}--{{company}}</h1>
				<div id="price-graph">
					<img src="{{url_for('fig',dates = dates, opens = opens, closes = closes, ticker = ticker)}}" alt="Image placeholder" height = "500px">
				</div>
				<div id = "non-graph" class = "container-fluid">
					{% if no_results %}
						<h3>No results for {{date}}</h3>
					{% elif validated %}
					<div id = "stock-info">
						<h3> {{date}}</h3>
						<ul class="info">
							<li> Open: {{open_price}} </li>
							<li> Close: {{close_price}} </li>
							<li> High: {{high}} </li>
							<li> Low: {{low}} </li>
						</ul>
					</div>
					{% endif %}
					<div id = "results-form">
						<form action = "{{url_for('show_stock', ticker = ticker)}}" method = "post" enctype = 'multipart/form-data'>
							{{form.hidden_tag()}}
							{{form.date_field.label}}: {{form.date_field}}
							{{form.submit}}
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class = "col-md-8 footer">
		</div>
		<div class="col-md-2">
		</div>
	</body>	
	{% endblock %}
</html>

